@font-face {
  font-family: Roboto;
  src: url('./font/Open_Sans/OpenSans-Regular.ttf');
}

body, html{
  margin: 0;
  font-size: 25px;
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: 'Roboto', Times, serif;
}

/* Header */

header {
  position: absolute;
  left: 0;
  right: 0;
  height: 92px;
  background: #868686;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

header ul{
    color: black;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

.header_title {
    width: 70%;
    text-align: center;
}

.header_invisible {
    width: 20%;
    height: 100%;
}

nav.breadcrumb {
  margin-inline-start: 240px;
}

/* Side Bar */

.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  position: relative;
}

.sidenav a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.sidenav a:hover:after { 
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

.sidenav-content img{
  width: 30%;
  margin: 10px 0;
}

.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 2px blue;
}

.img p{
  color: white;
}

/* Main */

.main {
    background: rgb(168, 168, 168); 
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
    margin-inline-start: 60px;
}

.main .content {
    background-color: white;
    width: 95%;
    height: 95%;
    margin: 20px auto;
}

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }