@font-face {
    font-family: Roboto;
    src: url('../font/Open_Sans/OpenSans-Regular.ttf');
}

body, html{
    margin: 0;
    font-size: 25px;
    height: 100%;
    width: 100%;
    background: #fff;
    font-family: 'Roboto', Times, serif;
}

/* Header */

header {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    height: 92px;
    background: #868686;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.breadcrumb ul{
    color: black;
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

.breadcrumb .first{
    font-size: 25px;
    width: 100px;
}

.breadcrumb li::before {
    content: "/";
    padding: 10px;
}

.breadcrumb li:first-child::before {
    content: "";
    padding: 0;

}

.breadcrumb li {
    width: 154px;
}

.breadcrumb li a {
    text-decoration: none;
}

.breadcrumb li a:visited{
    color: blue;
}

.breadcrumb li a:hover{
    color: red;
}



.header_title {
    width: 50%;
    text-align: center;
}

.header_invisible {
    width: 30%;
    height: 100%;
}

nav.breadcrumb {
    margin-inline-start: 240px;
  }  

/* Side Bar */
.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    position: relative;
  }

  .sidenav a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .sidenav a:hover:after { 
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav-content {
    display: flex;
    flex-direction: column;
}

.sidenav-content img{
    width: 30%;
    margin: 10px 0;
}

.img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 2px blue;
}

.img p{
    color: white;
}

/*  Table */

.link-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-section table{
    border-collapse: collapse;
    border: solid;
}

.link-section table tr, .link-section table td, .link-section table th{
    border: solid;
    padding: 10px 20px;
}

.link-section table td a{
    text-decoration: none;
    color: blue;
}

.link-section table td a:hover{
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
}

.link-section table td a .fa-edit {
    text-decoration: none;
    color: blue;
}

.link-section table td a .fa-edit:hover {
    text-decoration: none;
    color: red;
}

.link-section table td a .fa-trash {
    text-decoration: none;
    color: red;
}

.link-section table td a .fa-trash:hover {
    text-decoration: none;
    color: darkred;
}

/* Formulaire Edit */

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:92px; 
    right:0;
}

.second-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajouter données */

.create-cate{
    font-size: 15px;
    margin: 0;
}

h2 {
    margin: 10px;
}

h3 {
    margin: 10px;
}

/* Bookmark.php */

.bookmark-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 92px;
    right: 0;
}

a.add {
    text-decoration: none;
    color: blue;
    margin: 20px;
}

a.add:hover{
    color: black;
    font-weight: bold;
}

p.with_categ {
    font-weight: bold;
    margin: 0;
}

tr:nth-child(even){
    background: #868686;
}